.app.light {
	--bg-color: rgb(228 228 250);
	--inverted-bg-color: rgb(0 0 100);
	--prim-color: rgb(28 77 223);
	--sec-color: rgb(51 78 252);
	--inverted-prim-color: rgb(0 195 0);
	--inverted-sec-color: rgb(55 231 55);
}
